<!DOCTYPE html>
<html>

<head>
    <title>URL Shortener - History</title>
</head>

<style>
    body {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,121,9,1) 34%, rgba(0,212,255,1) 100%);
        font-family: 'Lato', sans-serif;
        color: white;
        margin: auto;
        width: 50%;
        padding: 10px; 
    }
    shorturls {
        padding-right: 30px;
        font-size: large;
    }

</style>

<body>
    <h1>URL Shortener History</h1>
    <table>
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url.long_url }}</td>
                <td class="shorturls"><a href="{{ url.short_url }}">{{ url.short_url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>